header {
  font-family: 'Montserrat', sans-serif;
  /* padding: 1rem 1rem 2rem 3.5rem; */
  color: #C51051;
  font-size: 1.6rem;
}
body{
  margin: 0;
}
#wrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: 3rem;
  text-align: center;
  width: 100%;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  background-color: #FAFAFA;
}

.container {
  flex-grow: 1;
	max-width: 1024px;
	width: 90%;
  margin: 0 auto;
}

.timeline-item {
	padding: 3em 2em 2em;
	position: relative;
	color: rgba(black, .7);
	border-left: 2px solid #C51051;
}

.timeline-item p {
  font-size: 1rem;
}

.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1em;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: .785rem;
}

.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -8px;
  border-radius: 10px;
  content: '';
  border: 2px solid #C51051;
  background: white;
}

.timeline-item:last-child {
  border-image: linear-gradient(to bottom, #C51051 60%, rgba(0, 0, 255, 0)) 1 100%;
}

